<div class="nav">
    <h1>Video Synchronization Rooms</h1>
    <!-- <a>Write a new review!</a> -->
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li style="float:right"><a href="/feedback">Give Us Feedback!</a></li>
      <li style="float:right"><a href="/create">Post A New Video!</a></li>

      <!-- <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li> -->
    </ul>
    <ul style="background-color:#333333d9">
      <li><a href="/recent">Recently Posted</a></li>
      <li><a href="/oldest">Oldest Posted</a></li>
      <li><a href="/A-Z">A-Z</a></li>
      <li><a href="/Z-A">Z-A</a></li>
      <li><a href="/random/">Random Video</a></li>
      <li><a href="/about">About</a>
    </ul>
    <!-- {{#if tags}}
    <div class="tags">
    	{{#each tags}}
	        <a href="/tag/{{this}}" class="tag">{{this}}</a>
        {{/each}}
    </div>
    {{/if}} -->
</div>
<br><hr>
