<h1>About Us</h1>

<h2>Creators: Maxwell Newman, Kyle Lim, Navneeth Babra</h2>

<p>This web app is a video synchronization platform designed for users to create rooms where they can watch videos synchronously. The first person to enter the room becomes the host, and
    when they scrub the video, all other users in the room will be synched to the host. When the host leaves, the host will be swapped to a random user. 
    The site is intutive to use, just:
    <li>
        Click add video in the top right
    </li>
    </br>
    <li>
       Find a youtube video and copy the url to paste in the form
    </li>
    </br>
    <li>
        Find the room you created and watch with your friends!
    </li>
</p>
