<h1>Give us feedback!</h1>
<article>
    <form id="form" method="POST" action="/addFeedback">
        <p id="err" style="color:red; visibility:hidden; margin-top:0px; margin-bottom:0px">Missing Rating</p>
        <div class="input-field">
            <label>Rating (out of 10):</label>
            <input id="rating" type="text" name="rating" size="50" placeholder="1-10">
        </div>
         <div class="input-field">
            <label>Feedback:</label>
            <input id="comment" type="text" name="comment" size="50" placeholder="I love this service because..">
        </div>
        <a style="font-size: 24px; cursor:pointer" onclick="submitForm()">Submit</a>
    </form>
</article>

<script>
function submitForm() {
  var comment = document.getElementById("comment").value
  var rating = document.getElementById("rating").value

  document.getElementById("form").submit()
}

</script>
